body{
background-color: rgb(81, 100, 100);
margin: 0;
}
button{
    cursor: pointer;
}
.nav{
    background-color: rgb(146, 138, 121);
    height:80px;
    display: flex;
    align-items: center;
    width: 100%;
}
.mt{
    margin-top: 5%;
}
.flex-js-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    width:700px;
    height: 300px;
    background-color: rgb(214, 204, 186);
}
.flex-end{
    display: flex;
    justify-content: end;
    align-items: center;
}
.log-out-button{
    margin-right: 40px;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.table{
    width:80%;
    height:auto;
    background-color: rgb(214, 204, 186);
    padding-bottom: 2%;
}
table{
    font-size: 20px;
    width: 100%;
}
td:not(.search-message){
    height: 40px;
    word-wrap: break-word;
    border: 1px solid rgba(139, 69, 19, 0.178);
}
.description-col{
    max-width: 200px;
}
tr:not(.thead-row):not(.search-message):hover{
    background-color: rgb(163, 156, 141); 
    transition: all 0.1s ease-in;
}
.sort-buttons{
    height:50px;
    margin-right: 5%;
}
.search-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    border: none;
}
form{
    margin: 0;
}
#search-field{
    width:400px;
    height:35px;
    padding-left: 10px;
    font-size: 18px;
    border: none;
}
.search-button{
    width:35px;
    height:35px;
    margin-left: 1%;
    border:none
}
.header-button{
    width: 70px;
    height: 30px;
    cursor: pointer;
}

/* add Book css */

.add-book-div{
    padding: 20px;
    width:700px;
    height:600px;
    background-color: rgb(214, 204, 186);
}
#number_input{
    width:70px;
    /* height: 25px; */
}
.book-description-field{
    resize: none;
    padding: 7px;
    font-family:'Times New Roman', Times, serif;
}
.inputs-div{
    margin-top: 20px;
}
.add-book-form{
    width:90%
}
#text-input{
    width:300px
}
#select-author{
    width: 300px;
}
#add-author{
    cursor:pointer;
    margin-top: 5px;
}